


.eng_ww_title {
    margin-bottom: 15px;
}

.eng_ww_title  .eng_ww_ttl_span1 {
    text-align: center;
    max-width: 200px;
    background-color:#0669ff;
    color: #fff !important;
    clip-path: polygon(6% 0%, 100% 0%, 92% 100%, 0% 100%);
}


@media screen and (max-width:992px) {
    .eng_asw {
        display: flex;
        flex-wrap: wrap;
    }

    .eng_widget_sw {
        max-width: 250px;
    }
    
    .eng_ww_title  .eng_ww_ttl_span1 {
        font-size:15px;
    }
}


@media screen and (max-width:576px) {
    .eng_asw {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .eng_widget_sw {
        max-width: 180px;
    }

    .eng_ww_title  .eng_ww_ttl_span1 {
        font-size:15px;
    }
}